<p id="notice"><%= notice %></p>

<h1>Professional Informations</h1>

<table>
  <thead>
    <tr>
      <th>Profession</th>
      <th>Activity area</th>
      <th>Education</th>
      <th>Status</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_informations.each do |professional_information| %>
      <tr>
        <td><%= professional_information.profession %></td>
        <td><%= professional_information.activity_area %></td>
        <td><%= professional_information.education %></td>
        <td><%= professional_information.status %></td>
        <td><%= professional_information.profile %></td>
        <td><%= link_to 'Show', professional_information %></td>
        <td><%= link_to 'Edit', edit_professional_information_path(professional_information) %></td>
        <td><%= link_to 'Destroy', professional_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional Information', new_professional_information_path %>
